body {
    text-align: center;
    background-color: rgb(174, 215, 220);
    background-image: url(images/background.png);
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    border-style: solid;
    background-color: rgb(244, 237, 245);
    display: grid;
    width: 60%;
    margin: auto;

}
h1 {
    color: #0f0f0f;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 4px #c799cf;

}

h3 {
    color: #070707;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}

.outcome {
    background-color: white;
    color: black;
    padding: 20px;
    margin: 20px auto;
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}

#outcome-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


  
